@charset "UTF-8";

body{
	font-family:Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	height: auto;
	margin: auto;
	background: white;

}
header{
	border: 1.6px solid black;
}
.head1{
	background-color: black;
	color: white;
	display: flex;
	justify-content: center;
}
.head2{
	margin-left: 200px;
}
.main2{
	margin-left: 200px;
}
.foot1{
	margin-left: 200px;
}
.foot2{
	background-color: black;
	color: white;
	display: flex;
	justify-content: center;
}
footer{
	background-color: powderblue;
}
h1{
	font-size: 50px;
	margin-top: 30px;
	margin-left: 70px;
}
.name{
	font-size: 40px;
	margin-top: 20px;
	margin-left: 13px;
}
.fot{
	padding-top: 25px;
	width: 505px;
	margin-left: 50px;
}
.souta{
	height: 300px;
	width: 300px;
}
.cam{
	height: 300px;
}
table{
	font-size: 20px;
}
.soutastatus{
	margin-left: 650px;
	margin-top: -315px;
}
.view{
	padding-top: 15px;
	margin-right: 50px;
	margin-left: 50px;
}
td{
	padding: 15px;
}
.memo{
	font-size: 25px;
	margin-left: 13px;
}
.title{
	font-size: 40px;
	margin-bottom: 10px;
	text-decoration: underline;
}
.logo{
	font-size: 35px;
}
.headlogo{
	height: 150px;
}
.footlogo{
	height: 120px;
}
.nav{
	font-size: 20px;
	margin-left: 650px;
	margin-top: -30px;
	padding-bottom: 20px;
	font-weight: bold;
	list-style: none;
}
.nav a:hover{
	text-decoration: underline;
}
.nav a{
	margin-right: 30px;
	color: #555;
	text-decoration: none;
}
.breadcrumb {
    margin: 0;
    padding-top: 25px;
	padding-bottom: 15px;
    list-style: none;
	width: fit-content;
	border-bottom: 1.6px solid black;
	margin-left: 150px;
}

.breadcrumb li {
    display: inline;/*横に並ぶように*/
    list-style: none;
    font-weight: bold;/*太字*/
}

.breadcrumb li:after {/* >を表示*/
    content: '>';
    padding: 0 0.2em;
    color: #555;
}

.breadcrumb li:last-child:after {
    content: '';
}

.breadcrumb li a {
    text-decoration: none;
    color: #555;/*色*/
}

.breadcrumb li a:hover {
    text-decoration: underline;
}
.zyouhou{
	border-top: 3px solid #080f48;
	border-bottom: 3px solid #080f48;
	width: fit-content;
	margin-left: 197px;
}
.gaki{
	height: 300px;
	width: 300px;
	margin-right: 151px;
}
.bba{	
	height: 300px;
	width: 300px;
	margin-right: 150px;
}
.suzuki{
	height: 300px;
	width: 300px;
	margin-right: 150px;
}
.gg{
	height: 300px;
	width: 300px;
	margin-right: 150px;
}
.one{
	height: 300px;
	width: 300px;
	margin-right: 150px;
}
.teikyou{
	color: azure;
	background-color: #080f48;
	font-size: 45px;
	padding: 10px;
	width: fit-content;
	margin-left: 145px;
}
.yukuename{
	font-size: 50px;
}
.yukuename2{
	font-size: 20px;
}
.hito{
	display: flex;
	margin-left: 275px;
	margin-top: 50px;
	margin-bottom: 70px;
}
.setumei{
	display: flex;
	justify-content: center;
	font-size: 18px;
	margin-top: 30px;
}
.sou{
	margin-left: 13px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: #555;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.flex {
  display: flex;
}

hr {
  height: 1px;
  border: 0;
  border-top: 1px solid #35363b;
}

.footer {
  padding: 2rem;
  font-size: 15px;
  color: black;
  background: #1d1e22;
}

.footer__navi {
  flex-wrap: wrap;
  margin-bottom: 2rem;
  margin-left: 370px;
  margin-top: -24px;
}

.footer__navi li {
  display: inline-block;
}

.footer__navi li:not(:last-child) {
  margin-right: 16px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .md-flex {
    display: flex;
  }

  .md-justify-between {
    justify-content: space-between;
  }
}
